@media (min-width: 481px) {
    .hero{
        height: 800px;
    }
    .hero-nav {
        flex-wrap: wrap;

        &__buy-btn {
            width: 145px;
            position: unset;
            font-size: 16px;
            left: calc(50% - 210px);
        }

        &__download-btn {
            background-color: $mainCol;
            border-radius: 40px;
            width: 390px;
            height: 62px;
            font-size: 21px;
            line-height: 23px;
            left: calc(50% - (390px/2));
            bottom: -4%;
        }


        &__logo-text {
            display: block;
            padding-left: 17px;
            @include latoBold;
            font-size: 24px;
            line-height: 16px;
        }

        &__dropbtn {
            display: none;
        }

        &__dropdown-content {
            
            width: 460px;
            background-color: unset;
            box-shadow: unset;            
            display: flex;
            left: calc(50% - (460px/2));
            top: 10%;
            justify-content: space-between;

        }

        &__dropdown-content a {
            width: fit-content;
            text-align: center;
            padding: 0;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            border: none;
            color: $mainCol;
        }
        &__dropdown-content a:focus::before{
            display: none;
        }

        &__dropdown-content a:hover {
            background-color: unset;
            color: $white;
        }

    }

    .hero-information {
        &__text {
            max-width: unset;
        }
    }
}




@media (min-width: 993px) {
    .hero-nav {
        
        background-color: unset;
    margin: 0;
    flex-grow: 3;
    justify-content: flex-end;
    position: relative;

    &__logo{
        position:absolute;
        left: 3%;
        top: calc(50% - (42px/2));
    }

        &__dropdown-content {
            align-items: center;
            width: fit-content;
            min-width: 517px;
            background-color: unset;
            box-shadow: unset;
            display: flex;
            
            right: calc(10% - 100px);
            top: 6%;
            justify-content: space-between;
            position: unset;

        }
        &__buy-btn {
            margin-left: 48px;
            margin-right: 3%;
            position: unset;
           
        }
        
        &__dropdown-content a{
            margin-left: 45px;
            // position: unset;
        }
        &__dropbtn{
            position: unset;
        }
    }
}