.get {
    text-align: center;

    &__title {
        @include montBold;
        font-size: 32px;
        line-height: 38px;
        color: #8D81AC;
    }

    &__product {

        &__img {
            margin: 40px auto 25px;
        }

        &__title {
            @include montNorm;
            font-size: 16px;
            line-height: 16px;
            color: #323232;
        }

        &__text {
            @include latoNorm;
            font-size: 14px;
            line-height: 21px;
            color: #848E97;
        }
    }

    &__img {
        width: 100%;
        margin-top: 65px;
    }
}


@media (min-width: 481px) {
    .get__product {
        display: grid;
        grid-template-columns: 111px calc(100% - 111px);
        align-items: center;

        &__desc {
            margin-left: 40px;
            text-align: left;
        }

        &__title {
            margin-bottom: 16px;
        }
    }
}

@media (min-width: 993px) {
    .get {
        display: grid;
        align-items: center;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;

        &__title {
            grid-column: 3 /5;
            font-size: 48px;
            line-height: 50px;
        }

        &__product-section {
            grid-column: 1 / 3;
            grid-row: 1 / 5;
        }

        &__img {
            grid-column: 3 /5;
            grid-row: 2 / 5;
            margin-top: 0;
            margin-bottom: 30px;
        }
    }
}
