.hero {

    height: 718px;
    background-image: url(../img/header-bg.png);
    @include bgPosition;
    position: relative;
    background-size: cover;
    min-width: 340px;

}



.hero-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #27262A;
    min-height: 103px;
    max-height: 118px;

    &__logo {
        text-decoration: none;
        color: $mainCol;
        display: flex;
        align-items: center;
    }

    &__logo-text {
        display: none;
        padding-left: 17px;

    }


    &__logo:hover &__logo-img {
        content: url(../img/logo-hover.png);
        color: white;
    }

    &__logo:hover &__logo-text {
        color: white;
    }

    &__buy-btn {
        background-color: $mainCol;
        border-radius: 40px;
        width: 119px;
        height: 37px;
        border: none;
        position: absolute;
        left: calc(50% - (119px/2));
        cursor: pointer;
        color: $white;
        @include montBold;
        font-size: 15px;
        line-height: 15px;
    }

    &__buy-btn:hover {
        background-color: $white;
        color: $mainCol;
        border: 1px solid $mainCol;
    }

    &__download-btn {
        background-color: $mainCol;
        border-radius: 40px;
        width: 290px;
        height: 45px;
        border: none;
        cursor: pointer;
        color: white;
        @include montBold;
        font-size: 18px;
        line-height: 20px;
        position: absolute;
        left: calc(50% - (290px/2));
        bottom: -3%;
    }

    &__download-btn:hover {
        background-color: $white;
        color: $mainCol;
        border: 2px solid $mainCol;
    }

    &__buy-btn-descr {
        min-width: 214px;
        position: absolute;
        color: #848E97;
        @include montNorm ;
        font-size: 14px;
        line-height: 14px;
        bottom: -7%;
        left: calc(50% - (214px/2));
    }


    &__dropbtn {
        position: relative;
        width: 44px;
        height: 37px;
        background-color: none;
        color: $white;
        background-color: #27262A;
        border: none;
        cursor: pointer;


    }

    &__dropbtn span,
    &__dropbtn span::before,
    &__dropbtn span::after {
        margin-top: -1px;
        margin-left: -10px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 26px;
        height: 3px;
        background-color: $white;
        border-radius: 5px;


    }

    &__dropbtn span::before,
    &__dropbtn span::after {
        content: '';
        display: block;
        transition: 0.5s;

    }

    &__dropbtn span::before {
        transform: translateY(-8px);
        width: 13px;
        left: 23px;
    }

    &__dropbtn span::after {
        transform: translateY(8px);
        left: 10px;

    }



    &__dropdown-content {
        display: none;
        // width: calc(100% - 30px);
        position: absolute;
        background: #333333;
        min-width: 160px;
        z-index: 1;
        top: 6.4em;
        left: 10px;
        right: 10px;


    }

    &__dropdown-content a {
        width: 100%;
        text-align: left;
        color: $white;
        padding: 25px 0px 25px 35px;
        text-decoration: none;
        display: block;
        @include montNorm;
        font-size: 26px;
        line-height: 26px;
        border-bottom: 2px solid #3B3B3B;
        position: relative;
    }



    &__dropdown-content a:focus::before {
        content: '';
        background-color: $mainCol;
        position: absolute;
        width: 8px;
        height: 53px;
        top: 11px;
        left: 0px;

    }

    &__dropdown-content a:focus {
        color: $mainCol;
    }

    // &__dropdown-content a:active::before {
    //     content: '';
    //     background-color: $mainCol;
    //     position: absolute;
    //     width: 8px;
    //     height: 53px;
    //     top:11px;
    //     left: 0px;

    // }
    // &__dropdown-content a:active{
    //     color: $mainCol;
    // }



}


.show {
    display: block;
}

.hero-nav__dropbtn_active span {
    height: 0;
}

.hero-nav__dropbtn_active span::after {

    transform: rotate(-40deg);
}

.hero-nav__dropbtn_active span::before {
    width: 100%;
    left: 10px;
    transform: rotate(40deg);
}


.hero-information {

    position: relative;

    &__title {
        display: block;
        padding-top: 50px;
        color: $white;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    }

    &__text {
        display: block;
        margin: 0 auto;
        max-width: 260px;
        padding-top: 19px;
        text-align: center;
        color: $mainCol;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
    }

    &__link {
        display: block;
        margin-top: 15px;

        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: #848E97
    }


}
