.price {
    background-image: url("../img/price-bg.png");
    text-align: center;
    min-width: 340px;
    padding-bottom: 30px;

    &__title {
        @include montBold;
        font-size: 28px;
        line-height: 42px;
        color: #fff;
        padding: 10px 0 30px;
    }

    &__card-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin: 0 auto;
    }

    &__card {
        width: 257px;
        height: 457px;
        // margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.11);

        &__name {
            @include montNorm;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 24px;
            padding: 36px 0;
            color: #fff;
            background: rgba(255, 255, 255, 0.06);
        }

        &__desc {
            height: 361px;
            @include montNorm;
            color: #fff;
        }
    }

    &__card-ded {
        width: 299px;
        height: 560px;
        background: rgba(70, 48, 72, 1);
    }
}
.price__card__name-ded {
    background: rgba(0, 0, 0, 0.11);
    padding: 43px 0;
}

.price__card__desc-ded {
    height: 449px;
    @include montNorm;
    color: #fff;
}

.card__desc__price {
    font-size: 60px;
    line-height: 62px;
    padding: 30px 0 20px;
}

.card__desc__price-ded {
    font-size: 82px;
    line-height: 84px;
    padding: 14px 0 16px;
}

.card__desc__term {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
.card__desc__line {
    width: 60px;
    margin: 38px auto 30px;
    border: 0;
    border-top: 5px solid #8D81AC;
}

.card__desc__line-ded {
    margin: 46px auto 40px;
}

.card__desc__options {
    font-size: 16px;
    line-height: 18px;
}

.card__desc__btn {
    @include montNorm;
    margin-top: 37px;
    font-size: 15px;
    line-height: 15px;
    background: rgba(255, 255, 255, 0.15);
    text-transform: uppercase;
    color: #fff;
    border-radius: 40px;
    width: 163px;
    height: 45px;
    border: none;
    cursor: pointer;
}

.card__desc__btn--first {
    margin-top: 55px;
}

.card__desc__btn-ded {
    margin-top: 83px;
}

@media (min-width: 481px) {
    .price__card {
        width: calc((100% / 2) - 25px);
        max-width: 257px;
    }
    .price__card-ded {
        max-width: 299px;
    }
    .price__card-section {
        max-width: 860px;
    }
}

@media (min-width: 993px) {
    .price__card {
        width: calc((100% / 4) - 25px);
    }
    .price__card-section {
        max-width: 100%;
    }
}
